.byline {
  width: 40px;
  font-size: 1.5em;
  height: 40px;
  cursor: pointer;
}

.initials {
  border-radius: 100%;
  background: #ffc107;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.profileScreen {
  width: 300px;
  height: 300px;
  font-size: 3em;
}
.headerInitials {
  padding: .4em;
  display: inline-block;
  /* display: flex; */
  font-size: .9em;
  /* padding: .8em; */
  width: 40px;
  height: 40px;
  padding-top: .8em;
  color: #fff;
  background-color: var(--color-black);
}
