
@import "tailwindcss";
@import url("./styles/cssreset.css");
@import url("./styles/utilities.css");


:root {
  --color-blue: #1D3557;
  --secondary-color:#ff2020;
  --color-dark: #212529;
  --light-gray: #4a4a4a8c;
  --color-red: rgb(238, 0, 0);
  --color-white: #fff;
  --dark-gray: #59595e;


/*----------------------*/
  --color-black: #000;
  --color-green: #198754;
  --color-white: #fff;
  --color-black-light: #000000c1;
  --color-golden: #ffe262;
 

  --space-2: 1em;
  --space-4: 2em;
  --space-6: 3em;
  --space-8: 4em;
  --space-10: 5em;
  --space-12: 6em;
  --space-14: 7em;
  --space-16: 8em;
  --space-18: 9em;
  --space-20: 10em;
  --space-22: 11em;
  --space-24: 12em;
  --space-26: 13em;
  --space-28: 14em;
  --space-30: 15em;
  --space-32: 16em;
  --space-34: 17em;
  --space-36: 18em;
  --space-38: 19em;
  --space-40: 20em;
}




.pageContainer {
  margin-top: var(--space-10) ;
 }


li {
  list-style: none;
}
p {
  padding: 0;
  margin: 0;
}

/* MARGIN-TOP */
.space-top-1 {
  margin-top: 2rem;
  /* 10px to 2rem */
}

.space-top-3 {
  margin-top: 4rem;
  /* 20px to 4rem */
}

.space-top-5 {
  margin-top: 6rem;
  /* 30px to 6rem */
}

.space-top-7 {
  margin-top: 8rem;
  /* 40px to 8rem */
}

.space-top-9 {
  margin-top: 3rem;
  /* 50px to 10rem */
}

.space-top-11 {
  margin-top: 12rem;
  /* 60px to 12rem */
}

.space-top-13 {
  margin-top: 14rem;
  /* 70px to 14rem */
}

.space-top-15 {
  margin-top: 16rem;
  /* 80px to 16rem */
}

.space-top-17 {
  margin-top: 18rem;
  /* 90px to 18rem */
}

.space-top-19 {
  margin-top: 20rem;
  /* 100px to 20rem */
}

/* Continue the pattern as needed */
.space-top-21 {
  margin-top: 22rem;
  /* 110px to 22rem */
}

.space-top-23 {
  margin-top: 24rem;
  /* 120px to 24rem */
}

.space-top-25 {
  margin-top: 26rem;
  /* 130px to 26rem */
}

/* MARGIN-BOTTOM */
.space-bottom {
  margin-bottom: 1rem;
  /* 10px to 2rem */
}

.space-bottom-1 {
  margin-bottom: 2rem;
  /* 10px to 2rem */
}

.space-bottom-3 {
  margin-bottom: 4rem;
  /* 20px to 4rem */
}

.space-bottom-5 {
  margin-bottom: 6rem;
  /* 30px to 6rem */
}

.space-bottom-7 {
  margin-bottom: 8rem;
  /* 40px to 8rem */
}

.space-bottom-9 {
  margin-bottom: 10rem;
  /* 50px to 10rem */
}

.space-bottom-11 {
  margin-bottom: 12rem;
  /* 60px to 12rem */
}

.space-bottom-13 {
  margin-bottom: 14rem;
  /* 70px to 14rem */
}

.space-bottom-15 {
  margin-bottom: 16rem;
  /* 80px to 16rem */
}

.space-bottom-17 {
  margin-bottom: 18rem;
  /* 90px to 18rem */
}

.space-bottom-19 {
  margin-bottom: 20rem;
  /* 100px to 20rem */
}

/* Continue the pattern as needed */
.space-bottom-21 {
  margin-bottom: 22rem;
  /* 110px to 22rem */
}

.space-bottom-23 {
  margin-bottom: 24rem;
  /* 120px to 24rem */
}

.space-bottom-25 {
  margin-bottom: 26rem;
  /* 130px to 26rem */
}
.imageRound {
  border-radius: 10px;
}


.color-dark {
  background-color: var(--color-dark);
}



@media (min-width: 700px) {
  .space-top-9 {
    margin-top: 10rem;
    /* 50px to 10rem */
  }
}